/* Add your CSS styles here to customize the appearance */

/* Header styles */
header {
    text-align: center;
    padding: 2px;
    background-color: #4e0636;
    width: 100%;
}

/* Common styles for mission, impact, and history sections */
.mission, .impact, .history {
    padding: 20px;
    text-align: center;

}

.mission p, .impact p, .history p {
    font-size: 24px;

  }


  .horizontal-bar {
    display: flex;
    justify-content: center; /* Align the items horizontally in the center */
    align-items: center; /* Align the items vertically in the center */
    width: 100%; /* Make the horizontal bar cover the entire width of the page */
    background-color: #5355c9; /* Optional: Add a background color */
  }
  
  .left-align {
    color: white; /* Set the text color to white */
}

  .image {
    padding: 5px; /* Optional: Add padding around the image */
    margin-left: 180px;
  }
  
  .image img {
    width: 60%;
    height: auto;
  }
  
  .text {
    padding: 1px; /* Optional: Add padding around the text */
    color: #ffffff;
    font-size: 50px;
    text-align: left;
    margin-right: 120px;
  }
  

/* Styling h2 and p elements */
h2 {
    font-size: 40px;
    color: #94447c; /* Replace with your desired color */
}

p {
    font-size: 26px;
    color: #000000; /* Replace with your desired color */
}
/* Footer */
footer {
    background-color: #fdd2d2;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
