<!DOCTYPE html>
<html>
  <head>
    <title>About Us - Attireforhumanity</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styleabout.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='Images/donate.jpeg') }}"
        alt="Slide 1"
      />
    </header>

    <div class="mission">
      <h2>Our Mission</h2>
      <p>
        Welcome to Attireforhumanity! <br />Our mission is to provide clothing
        to those in need, <br />ensuring that every person has access to clean,
        <br />warm clothing, regardless of their circumstances.
      </p>
    </div>

    <div class="impact">
      <h2>Our Impact</h2>
      <p>
        Over the years, we have made a significant impact on the lives<br />
        of thousands of people by providing them with clothing and warmth<br />
        during difficult times. With the support of our donors and
        volunteers,<br />
        we continue to make a positive difference in the community.
      </p>
    </div>

    <div class="square">
      <!-- You can add an image or any content you want inside this square -->
    </div>

    <div class="history">
      <h2>Our History</h2>
      <p>
        Founded in 2010, Attireforhumanity is a pioneering organization that<br />
        aims to empower lives through the transformative power of fashion.<br />
        With a strong commitment to social responsibility and sustainable
        practices,<br />
        we work tirelessly to make a positive impact on underserved communities
        worldwide.<br />
        Through strategic partnerships, skill development programs, and fair
        wages,<br />
        we are dedicated to breaking the cycle of poverty and creating a better,
        more equitable future for all. <br />Join us on this inspiring journey
        where fashion becomes a force for good,<br />
        and together, we can shape a brighter tomorrow.
      </p>
    </div>
  </body>
</html>
