<!DOCTYPE html>
<html>
  <head>
    <title>Donations - Attireforhumanity</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styledonations.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Attireforhumanity</a>
        <!-- Add links to other pages if needed -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/donate">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/communication">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <h1>My Donations</h1>
      {% if donations %}
      <table class="table mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Categories</th>
            <th>Additional Item</th>
            <th>Address</th>
            <th>EIRCODE</th>
            <th>Number of Boxes</th>
          </tr>
        </thead>
        <tbody>
          {% for donation in donations %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ donation.pickup_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ donation.categories }}</td>
            <td>{{ donation.additional_item }}</td>
            <td>{{ donation.address }}</td>
            <td>{{ donation.eircode }}</td>
            <td>{{ donation.num_boxes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No donations found.</p>
      {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
